<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.demo.category.dao.CategoryDao"><!--namespace를 통해 UserDAO와 연결합니다. -->
  		
  	<!-- 카테고리 코드 번호에 해당되는 모든 동영상 게시물 가져오기(최신순) -->
 	<select id="getCategoryList" parameterType="hashMap" resultType="com.example.demo.category.dto.CvideoJoinVideoFileDto">
	 	      SELECT v.video_number,v.user_id,v.category_code,v.video_title,v.public_check,v.video_reports,v.video_insert_date,v.video_rank_limit,
					 vf.orgin_video_name,vf.stored_video_name,vf.orgin_video_thumb,vf.stored_video_thumb,
	                 (SELECT count(vr.reply_number) FROM video_reply vr WHERE vr.video_number = v.video_number) AS 'reply_count'
					FROM video v JOIN video_file vf
					  ON v.video_number = vf.video_number			
				 WHERE v.category_code = #{cateCode}
	         ORDER BY v.video_number DESC
   		  LIMIT #{pageStart},#{perPageNum} 
 	</select>
	
	<!-- 카테고리 코드 번호에 해당되는 모든 동영상 게시물 가져오기(댓글많은순) -->
 	<select id="getCategoryRList" parameterType="hashMap" resultType="com.example.demo.category.dto.CvideoJoinVideoFileDto">
	 	      SELECT v.video_number,v.user_id,v.category_code,v.video_title,v.public_check,v.video_reports,v.video_insert_date,v.video_rank_limit,
					 vf.orgin_video_name,vf.stored_video_name,vf.orgin_video_thumb,vf.stored_video_thumb,
	                 (SELECT count(vr.reply_number) FROM video_reply vr WHERE vr.video_number = v.video_number) AS 'reply_count'
				   FROM video v JOIN video_file vf
					 ON v.video_number = vf.video_number			
				 WHERE v.category_code = #{cateCode}
	         ORDER BY reply_count DESC,v.video_number DESC <!-- 댓글수가 똑같다면 가장 최신에 올린 게시물을 먼저 나오게 함  -->
   		  LIMIT #{pageStart},#{perPageNum} 
 	</select>
 	
	<!-- 해당 동영상 게시물 신고사유 INSERT -->
	<insert id="reportInsert" parameterType="com.example.demo.category.dto.BlameDto" >
		insert into blame(video_number,user_id,blame_name) values(#{video_number},#{user_id},#{blame_name})
	</insert>
	
	<!-- 해당 동영상 게시물 신고수 1증가 -->
	<update id="videoReportUpdate" parameterType="int">
		update video set video_reports = video_reports + 1 where video_number = #{video_number}
	</update>
	
	<!-- 카테고리별 총 동영상 게시물 개수 -->
	<select id="totalCount" parameterType="String" resultType="int">
		select count(*)
				from video 			
   		  where category_code = #{cateCode}
	</select>
	
	
	<!-- 상품 소감(댓글) 작성 -->
	<insert id="replyInsert" parameterType="com.example.demo.category.dto.VideoReplyDto" >
		insert into video_reply(video_number,reply_content,reply_register,reply_orgin_number,reply_order,reply_depth) 
			values(#{video_number},#{reply_content},#{reply_register},0,0,0)
	</insert>
	
	<!-- 댓글 작성후 ref값 변경  -->
	<update id="replyUpdate_ref" parameterType="com.example.demo.category.dto.VideoReplyDto" keyProperty="reply_number"	>
		<selectKey order ="BEFORE" keyProperty="reply_number" resultType="int">
   			select max(reply_number) 
   			from video_reply 
   			where video_number = #{video_number}
   		</selectKey>
		update video_reply 
			set reply_orgin_number = #{reply_number}
		where reply_number = #{reply_number}
	</update>
	
	<!-- 댓글 리스트 가져오기 -->
	<select id="getReplyList" parameterType="int" resultType="com.example.demo.category.dto.VideoReplyDto">
		select reply_number,video_number,reply_content,reply_register,reply_insert_date,reply_orgin_number,reply_order,reply_depth
			from video_reply
		 where video_number = #{video_number}
	    order by reply_number desc	
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate" parameterType="com.example.demo.category.dto.VideoReplyDto" >
		update video_reply 
			set reply_content = #{reply_content}
		where reply_number = #{reply_number} 
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete" parameterType="com.example.demo.category.dto.VideoReplyDto" >
		delete 
			from video_reply 
		where reply_number = #{reply_number}
	</delete>
	
	<!-- 검색 -->
	<select id="getCategorySearchList" parameterType="hashMap" resultType="com.example.demo.category.dto.CvideoJoinVideoFileDto">
		      SELECT v.video_number,v.user_id,v.category_code,v.video_title,v.public_check,v.video_reports,v.video_insert_date,v.video_rank_limit,
					 vf.orgin_video_name,vf.stored_video_name,vf.orgin_video_thumb,vf.stored_video_thumb,
	                 (SELECT count(vr.reply_number) FROM video_reply vr WHERE vr.video_number = v.video_number) AS 'reply_count'
					FROM video v JOIN video_file vf
					  ON v.video_number = vf.video_number			
				 WHERE v.category_code = #{cateCode}  
				 <if test="!keyword.equals('') || keyword != null || !keyword.equals('not') " >
				 	 AND v.video_title LIKE CONCAT ('%' ,#{keyword}, '%')
				 </if>	
	         ORDER BY v.video_number DESC
   		  LIMIT #{pageStart},#{perPageNum} 
	</select>
</mapper>
















