<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.demo.user.dao.UserDao"><!--namespace를 통해 UserDAO와 연결합니다. -->
  		
	 <!-- ID 중복체크 검사 -->
	 <select id="idCheck" parameterType="String" resultType="int">
	 		select count(*) 
	 			from user
	 		 where user_id = #{user_id} 
	 </select>
  
	 <!-- 닉네임 중복체크 검사 -->
	 <select id="nicknameCheck" parameterType="String" resultType="int">
	 		select count(*) 
	 			from user
	 		 where user_nickname = #{user_nickname} 
	 </select>

  	<!-- 회원 가입 -->
	<insert id="register" parameterType="com.example.demo.user.dto.UserDto" >
		insert into user(user_id,user_pwd,user_nickname)
				values(#{user_id},#{user_pwd},#{user_nickname})		
	</insert>
	
	<!-- 회원가입후 회원 상태 추가 -->
	<insert id="register_st" parameterType="com.example.demo.user.dto.UserDto" >
		insert into user_st(user_id) values(#{user_id})		
	</insert>
	
	<!-- 로그인 처리 검사 -->
	<select id="signIn" parameterType="com.example.demo.user.dto.UserDto" resultType="com.example.demo.user.dto.UserDto">
			select * 
				from user
			 where user_id = #{user_id}  
	</select>
	
	<!-- 해당 날짜에 처음 로그인인지 아닌지 검사 -->
	<select id="loginCheck" parameterType="String" resultType="int">
			select count(*) 
				from attendance
 			 where user_id = #{user_id} and date_format(att_date,'%Y-%m-%d') = curdate() 
	</select>
	
	<!-- 처음 로그인 시도일 경우 출석체크 테이블에 출석하기  -->
	<insert id="loginAttInsert" parameterType="String">
		insert into attendance(user_id) values(#{user_id})
	</insert>
	
	<!-- 처음 로그인 시도일 경우 해당 유저의 경험치 100EXP 추가  -->
	<update id="loginExpInsert" parameterType="String">
		update user set user_exp = user_exp + 100 where user_id = #{user_id}
	</update>
	
	
</mapper>
















